<%- include('./partials/header') %>
    <%- include('./partials/sidebar',{username:username}) %>
        <div class="content">
            <%- include('./partials/navbar') %>
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-12 col-xl-6">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6 class="mb-4">Role</h6>
                                
                                <form action="<%= (role_edit)?'/roleupdate/'+role_edit._id:'/roledata'%>" method="post">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Role Name:-</label>
                                        <input type="text" value="<%= (role_edit)?role_edit.rolename:'' %>" class="form-control"  name="rolename"
                                            id="exampleInputEmail1"  aria-describedby="emailHelp">
                                    </div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <div class="bg-secondary rounded h-100 p-4">
                                <h6 class="mb-4">Role Table</h6>
                                <table class="table">
                                    <thead>
                                        <tr align="center">
                                            <th scope="col">ID</th>
                                            <th scope="col">Role Name</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(AllRoleData) { %>
                                            <% AllRoleData.forEach((item)=>{ %>
                                            <tr align="center">
                                                <td>
                                                    <%= item._id %>
                                                </td>
                                                <td>
                                                    <%= item.rolename %>
                                                </td>
                                                <td>
                                                    <a class="text-success"
                                                        href="/roledataedit/<%= item._id %>">Edit</a>

                                                    <a class="text-danger" href="/roledatadelete/<%= item._id %>"
                                                         data-target="#exampleModal">Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %> 
                                    </tbody>
                                </table>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-secondary rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                © <a href="#">Your Site Name</a>, All Right Reserved.
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                                <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <%- include('./partials/footer') %>