<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/savedata" method="post">
        <input type="hidden" name="id" value="<%=(editdata.id != '')?editdata.id:'' %>">
        Name:
        <input type="text" name="name" value="<%= (editdata.id != '')?editdata.name:'' %>">
        Age:
        <input type="number" name="age" value="<%= (editdata.id != '')?editdata.age:'' %>">
        <input type="submit" value="Submit">
    </form>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        <% data.forEach((item) => {%>
            <tr>
                <td><%=item.id%></td>
                <td><%=item.name%></td>
                <td><%=item.age%></td>

                <td><a href="/del/<%=item.name%>">Delete</a>
                    <a href="/edit/<%=item.id%>">Edit</a></td>
            </tr>
        <%})%>
    </table>
</body>
</html>