<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>

    <div class="container-fluid p-0">
        <!-- Small boxes (Stat box) -->
        <div class="row" style="height: 100vh;">

            <div class="col-12 col-lg-4 bg-secondary-subtle p-5 pt-4">

                <b class="pb-4"
                    style="width: 100%; display: flex; justify-content: center; align-items: center; font-size: 35px; text-decoration: underline;">CRUD
                    Node JS</b>

                <form action="/save" method="post" name="frm" id="frm">
                    <input type="hidden" name="id" value="<%= userEdit.id %>">

                    Name :
                    <input type="text" name="name" value="<%= userEdit.name %>" class="my-2"
                        style="width: 100%;"><br><br>

                    Mobile :
                    <input type="number" name="number" value="<%= userEdit.mobile %>" class="my-2"
                        style="width: 100%;"><br><br>

                    Age :
                    <input type="number" name="age" value="<%= userEdit.age %>" class="my-2"
                        style="width: 100%;"><br><br>

                    <input type="submit" value="Submit" class="btn btn-dark w-100" style="background-color: #3f454b;"
                        style="margin-top: -20px; cursor: pointer;"><br><br>
                </form>

                <br><br>

            </div>

            <div class="col-12 col-lg-8 bg-secondary d-flex justify-content-center align-items-start"
                style="padding-top: 35px;">

                <table class="table table-striped" border="3" cellpadding="8">
                    <tr>
                        <th class='border border-end text-dark'>
                            <center>Id</center>
                        </th>
                        <th class='border border-end text-dark'>
                            <center>Name</center>
                        </th>
                        <th class='border border-end text-dark'>
                            <center>Mobile</center>
                        </th>
                        <th class='border border-end text-dark'>
                            <center>Age</center>
                        </th>
                        <th colspan="2" class='border border-end text-dark'>
                            <center>Action</center>
                        </th>
                    </tr>
                    <% data.forEach((item)=> { %>
                        <tr>
                            <td class='border border-end text-dark'>
                                <center>
                                    <%= item.id %>
                            </td>
                            </center>
                            <td class='border border-end text-dark'>
                                <center>
                                    <%= item.name %>
                            </td>
                            </center>
                            <td class='border border-end text-dark'>
                                <center>
                                    <%= item.mobile %>
                            </td>
                            </center>
                            <td class='border border-end text-dark'>
                                <center>
                                    <%= item.age %>
                            </td>
                            </center>
                            <td>
                                <center> <a href="/edit/<%= item.id %>" style="text-decoration: none; color:red"><button
                                            type="button" class="btn btn-outline-success">Edit</button></a></center>
                            </td>
                            <td>
                                <center><a href="/del/<%= item.id %>" style="text-decoration: none;"> <button
                                            type="button" class="btn btn-outline-danger">Delete</button></a></center>
                            </td>
                        </tr>
                        <% }); %>
                </table>

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script>
        window.addEventListener('load', function () {
            document.getElementById('frm').reset();
        });
    </script>
</body>

</html>